<div class="umbrella-datatable-container" id="{{ id }}">

    {% block toolbar %}
        {% if datatable.toolbar %}
            {{ render_toolbar(datatable.toolbar) }}
        {% endif %}
    {% endblock %}

    {% block table %}
        <table class="table datatable {{ class | default('table-bordered') }} js-umbrella-datatable">
            <thead>
            <tr>
                {% for column in columns %}
                    <th class="{{ column.class }}" {% if column.width %}width="{{ column.width }}"{% endif %}>
                        {% if column.label is not empty %}
                            {% set label = datatable.translationPrefix ~ column.label %}
                            {{ label | trans }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% endblock %}
</div>
