<div class="dropdown">
    <button class="{{ action.class }} dropdown-toggle" type="button" data-toggle="dropdown">
        {{ (action.translationPrefix ~ action.label)  | trans }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for subaction in action.actions %}
            {% if subaction.type == 'URL' %}
                <li>
                    <a {% if subaction.xhr %}data-xhr-href="{{ subaction.url }}"{% else %}href="{{ subaction.url }}"{% endif %}>
                        {{ (action.translationPrefix ~ subaction.label) | trans }}
                    </a>
                </li>
            {% elseif subaction.type == 'SEPARATOR' %}
                <li class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>