{% block tree %}
    <ol class="js-umbrella-tree mjs-nestedSortable-branch {{ class }}" data-root-id="{{ tree.result ? tree.result.id }}">
        {% if tree.result %}
            {% for node in tree.result %}
                {{ block('node') }}
            {% endfor %}
        {% endif %}
    </ol>
{% endblock %}

{% block node %}
    <li data-id="{{ node.id }}">
        {% include(tree.templateRow) %}

        {% if node | length > 0 %}
            <ol>
                {% for node in node %}
                    {{ block('node') }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endblock %}